.blog{
}
.blog-content{
}
.blog-row{
    display:grid;
    // grid-template-columns: 165px 350px 255px 255px;
    grid-template-columns: 1.5fr 2.5fr 2fr 2fr;
    grid-column-gap: 30px;
}
.blog-title{
    margin-top: 0;
}
.news-one{
    position: relative;
    img{
        max-width: 100%;
        margin-bottom: 20px;
    }
    h3{
        font-weight: 500;
        font-size: 16px;
        line-height: 21px;
        color: #8643DC;
        margin-bottom: 10px;
    }
    p{
        font-weight: bold;
        font-size: 20px;
        line-height: 26px;
        color: #000000;
        
    }
    
}
.news-two{
    background-image:linear-gradient(180deg, rgba(196, 196, 196, 0) 0%, #25202F 100%), url(../imgs/blog_second.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding :0 38px 30px 20px;
    min-height: 350px;
        h3{
            font-weight: 500;
            font-size: 16px;
            line-height: 21px;
            color: #FFFFFF;
            margin-bottom: 2px;
        }
        p{
            font-weight: bold;
            font-size: 20px;
            line-height: 26px;
            color: #FFFFFF;
        }
        
}
.news-three{
    background-image:linear-gradient(180deg, rgba(196, 196, 196, 0) -0.14%, #25202F 99.86%), url(../imgs/blog_third.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-height: 350px;
    padding :0 38px 30px 20px;
        h3{
            font-weight: 500;
            font-size: 16px;
            line-height: 21px;
            color: #FFFFFF;
            margin-bottom: 2px;
        }
        p{
            font-weight: bold;
            font-size: 20px;
            line-height: 26px;
            color: #FFFFFF;
        }
}
.blog-col{
    img{
        display:block;
    }
}

/* 768 - 1023 */ 
@media screen  and (max-width: 1024px){
    .news-two{
        padding: 0 15px 10px;
        max-height: 300px;
    }
    .news-three{
        padding: 0 15px 10px;
        max-height: 250px;
    }
    .blog-row{
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 20px;
        grid-row-gap: 15px;}
}
/* 576 - 768  */ 
@media screen  and (max-width: 768px){
    
}