.clients{
}
.clients__text{
    max-width: 140px;
}
.clients__row{
    display:flex;
    flex-wrap: wrap;
    // justify-content: space-between;
}
.clients__col{
    flex:1 0 20%;
    max-width: 20%;
    padding:0 25px;
    position:relative;
}
.clients__item{
    padding: 20px 30px;
    text-align: center;
    border-radius: 10px;
    
    img{
        margin-bottom: 30px;
    }
}
.col-one{
    background: #FFF7FA;
    border: 1px solid #FFE7F0;
    box-shadow: 0 20px 150px 0px #FFD7E9;
}
.col-two{
    background: #EDFFF5;
    border: 1px solid #CAFFE1;
    box-shadow: 0 20px 150px 0px #BCFFDB;
}
.col-three{
    background: #F5FCFF;
    border: 1px solid #DDF5FF;
    box-shadow: 0 20px 150px 0px #CEF2FF;
}
.col-four{
    background: #FFFBF2;
    border: 1px solid #FFEEC9;
    box-shadow: 0 20px 150px 0px #FFE9BC;
}
.col-five{
    background: #F4FFED;
    border: 1px solid #DBFFC4;
    box-shadow: 0 20px 150px 0px #D2FFB5;
}
/* 768 - 1023 */ 
@media screen  and (max-width: 1024px){
    .clients__item{
        padding: 12px 25px;
    }
}
/* 576 - 768 */
@media screen  and (max-width: 768px){
    .clients__col{
        flex:1 0 33%;
        min-width: 33%;
        margin-bottom: 20px;
    }
    .clients__item{
        padding: 10px 20px;
        min-width: 170px;
    }
    .clients__row{
        justify-content: space-around;
    }
    
}