.clients{
    margin:100px 0;
}
.clients_text{
    max-width: 140px;
}
.clients-row{
    display:flex;
    flex-wrap: wrap;
    // justify-content: space-between;
}
.clients-row-col{
    flex:1 0 20%;
    max-width: 20%;
    padding:0 25px;
    position:relative;
}
.clients-row-item{
    padding: 20px 30px;
    text-align: center;
    border-radius: 10px;
    
    img{
        margin-bottom: 30px;
    }
}
.col-one{
    background: #FFF7FA;
    border: 1px solid #FFE7F0;
    box-shadow: 0 20px 150px 0px #FFD7E9;
}
.col-two{
    background: #EDFFF5;
    border: 1px solid #CAFFE1;
    box-shadow: 0 20px 150px 0px #BCFFDB;
}
.col-three{
    background: #F5FCFF;
    border: 1px solid #DDF5FF;
    box-shadow: 0 20px 150px 0px #CEF2FF;
}
.col-four{
    background: #FFFBF2;
    border: 1px solid #FFEEC9;
    box-shadow: 0 20px 150px 0px #FFE9BC;
}
.col-five{
    background: #F4FFED;
    border: 1px solid #DBFFC4;
    box-shadow: 0 20px 150px 0px #D2FFB5;
}
// .clients-row-background{
//     position: absolute;
//     top:0px;
//     left:0;
//     right: 0;
//     bottom: 0;
//     filter: blur(100px);
//     border-radius: 10px;
// }
// .background-one{
//     background: #FFD7E9;
// }
// .background-two{
//     background: #BCFFDB;
// }
// .background-three{
//     background: #CEF2FF;
// }
// .background-four{
//     background: #FFE9BC;
// }
// .background-five{
//     background: #D2FFB5;
// }
