.footer{
    margin:100px 0 50px;
}
.footer__text{
    font-weight: 500;
    font-size: 36px;
    line-height: 48px;
    text-align: center;
    color: #21232D;
    margin-bottom: 30px;
}
.footer__imgs{
    text-align: center;
    a{
        text-decoration: none;
        margin-right: 40px;
        &:nth-child(3){
            margin-right: 0px;
        }
    }
}
