// для каждого компонента нужно импортить переменные, чтобы их использовать
@import "../utils/parameters";
@import "../utils/mixins";
html {
    font-family: Red Hat Display;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
}