.portfolio{
    margin-bottom: 68px;
    position: relative;
    
    &::after{
        content: "";
        background: linear-gradient(180deg, rgba(187, 133, 255, 0.14) 0%, rgba(255, 177, 222, 0.14) 100%);
        filter: blur(150px);
        // position:relative;
        position: absolute;
        top:0;
        left:0;
        right: 0;
        bottom: 0;
        z-index:0;
    }
}
// .portfolio-background{
//     background: linear-gradient(180deg, rgba(187, 133, 255, 0.14) 0%, rgba(255, 177, 222, 0.14) 100%);
//     filter: blur(70px);
//     z-index: 0;
//     // position:relative;
//     position: absolute;
//     top:0;
//     left:0;
//     right: 0;
//     bottom: 0;
    
// }
.portfolio-content{
    // position:absolute;
    position: relative;
    z-index: 1;
}
.portfolio-header{
    display:flex;
    align-items: center;
    justify-content: space-between;
    .title__text{
        margin-bottom: 30px;
    }

}
.portfolio-imgs{
    display:flex;
    justify-content: space-between;
}
.portfolio-nav-text{
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #25202F;
}
.arrow{
    margin-left:10px;
}
/* 850 - 1023 */ 
@media screen  and (max-width: 1024px){
    .portfolio-imgs{
        justify-content: space-around;
    img{
        max-width: 450px;
        max-height: 330px;
    }
}
}
/* 769 - 849 */ 
@media screen  and (max-width: 849px){
    .portfolio-imgs{
        img{
        max-width: 360px;
        max-height: 260px;
        }
    }
}
/* 575 - 768 */
@media screen  and (max-width: 768px){
    .portfolio-imgs{
        img{
        max-width: 300px;
        max-height: 180px;
        }}
    .portfolio{
        margin-top: 30px;
    }
}
