.services{
}
.title-name{
    font-size: 18px;
    line-height: 24px;
    color: #8643DC;
    margin-bottom: 10px;
    font-weight: normal;
    
}
    
.title-text{
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    max-width: 246px;
    margin-bottom: 50px;
    &::before{
        content: "";
        display: block;
        width: 50px;
        height: 2px;
        background: #8643DC;
        margin-bottom: 15px;
    }
}
.services__row{
    display: flex;
    flex-wrap: wrap;
    margin:0 -15px;
}
.services__col{
    padding:0 15px;
    flex:1 0 33.33%;
}
.services__item{
    display: flex;
    flex-wrap:wrap;
    align-items: center
}
.services__item-img{
    margin-right: 20px;
    animation: rotate 10s linear infinite;
}

.services__item-title{
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
}
.services__item-description{
    font-size: 16px;
    line-height: 32px;
    color: #47444E
}
/* 768 - 1023 */ 
@media screen and (max-width: 1023px){
    .services{
        margin-top:500px;
    }
    .services__row{
        justify-content: space-around;
    }
    .services__col{
        flex:1 0 350px;
        max-width: 350px;

        &:nth-child(3){
            // margin-left:200px;
        }
    }
}
/* 576 - 767 */ 
@media screen and (max-width: 767px){
    .services{
        margin-top:380px;
    }
    .services__row{
        flex-direction: column;
        align-content: space-around;
    }
    .services__col{
        flex:1 0 220px;
}
}