.testimonials{
    position: relative;
    padding-bottom: 353px;
    
    &::after{
        content: "";
        background: linear-gradient(180deg, rgba(203, 163, 255, 0.2) 0%, rgba(197, 255, 176, 0.2) 100%);
        filter: blur(50px);
        transform: rotate(-180deg);
        position: absolute;
        top:0;
        left:0;
        right: 0;
        bottom: 0;
        z-index: 0;
}}
.testimonials__content{
    position: relative;
    z-index:1;
}
// .testimonials-background{
//     background: linear-gradient(180deg, rgba(203, 163, 255, 0.2) 0%, rgba(197, 255, 176, 0.2) 100%);
//     filter: blur(10px);
//     transform: rotate(-180deg);
//     position: absolute;
//     top:0;
//     left:0;
//     right: 0;
//     bottom: 0;
// }
.bb{
    margin: 0 auto;
    display: block;
}
.testimonials-text{
    text-align: center; 
    max-width: 569px;
    margin: 0 auto;
    font-weight: 500;
    font-size: 16px;
    color: #636066;
}
.people_one{
    position: absolute;
    top:264px;
    left:0.2%;
}
.people_two{
    position: absolute;
    top:264px;
    right:0.2%;
}
.people_three{
    position: absolute;
    top: 534px;
    left:12.6%;
}
.people_four{
    position: absolute;
    top: 534px;
    right:12.6%;
}
.people_five{
    position: absolute;
    top:419px;
    right: 45%;
}
/* 768 - 1023 */ 
@media screen  and (max-width: 1024px){
    .testimonials{
        margin-top: 50px;
    }
}
/* 576 - 768 */
@media screen  and (max-width: 768px){
    .testimonials__header{
        h1{
            margin-bottom: 30px;
        }
    }
    .people_one{
        top: 110%;
        left: 0;
    }
    .people_two {
        top: 110%;
    }
    .people_three {
        top: 110%;
        left:20%;
    }
    .people_four{
        top: 110%;
        right:20%;
    }
    .people_five{
        top: 106%;
        left:42%;
    }
    .testimonials{
        padding-bottom: 120px;
    }
}
