section.blog
    .container
        .blog__content
            .blog__row
                article.blog__col
                    .blog__title
                        h3.title-name Blog
                        h2.title-text.blog-text Get News Feeds
                article.blog__col.news-one
                    img(src="./assets/imgs/blog_first.jpg", alt="")
                    h3.diff-title 20 June/2020
                    p.diff-text Technology is evolving rapidly. New devices and applications.
                article.blog__col.news-two
                    h3 20 June/2020
                    p New devices and applications come to the market.
                article.blog__col.news-three
                    h3 20 June/2020
                    p Every day providing solutions to problems