section.blog
    .container
        .blog-content
            .blog-row
                .blog-col
                    .blog-title
                        h3.title-name Blog
                        h2.title-text.blog-text Get News Feeds
                .blog-col.news-one
                    img(src="./assets/imgs/blog_first.jpg", alt="")
                    h3.diff-title 20 June/2020
                    p.diff-text Technology is evolving rapidly. New devices and applications.
                .blog-col.news-two
                    h3 20 June/2020
                    p New devices and applications come to the market.
                .blog-col.news-three
                    h3 20 June/2020
                    p Every day providing solutions to problems