.blog
    .container
        .blog-content
            .title.blog-title
                h3.title__name Blog
                span.title__line
                h2.title__text.blog-text Get News Feeds
            .blog-row
                .blog-col.blog-first
                    .blog-diff-block
                        img(src="./assets/imgs/blog_first.jpg", alt="")
                        h3.diff-title 20 June/2020
                        p.diff-text Technology is evolving rapidly. New devices and applications.
                    //- .blog-two-blocks
                .blog-col
                    .blog-second
                        img(src="./assets/imgs/blog_second.jpg", alt="")
                        h3 20 June/2020
                        p New devices and applications come to the market.
                .blog-col
                    .blog-third
                        h3 20 June/2020
                        p Every day providing solutions to problems
                        //- img(src="./assets/imgs/blog_third.jpg", alt="")