.clients
    .container
        .title
            h3.title__name Clients
            span.title__line
            h2.title__text.clients_text Big Deal With
        .clients-row
            +clients-row-item({
                img: "./assets/imgs/stack.png",
                title: "Slack",
                mod_col: "col-one",
                mod_background: "background-one"
            })
            +clients-row-item({
                img: "./assets/imgs/medium.png",
                title: "Medium",
                mod_col: "col-two",
                mod_background: "background-two"
            })
            +clients-row-item({
                img: "./assets/imgs/microsoft.png",
                title: "Microsoft",
                mod_col: "col-three",
                mod_background: "background-three"
            })
            +clients-row-item({
                img: "./assets/imgs/zeplin.png",
                title: "Zeplin",
                mod_col: "col-four",
                mod_background: "background-four"
            })
            +clients-row-item({
                img: "./assets/imgs/shopify.png",
                title: "Shopify",
                mod_col: "col-five",
                mod_background: "background-five"
            })