section.clients
    .container
        h3.title-name Clients
        h2.title-text.clients__text Big Deal With
        .clients__row
            +clients__item({
                img: "./assets/imgs/stack.png",
                title: "Slack",
                mod_col: "col-one" 
            })
            //- mod_background: "background-one"
            +clients__item({
                img: "./assets/imgs/medium.png",
                title: "Medium",
                mod_col: "col-two"
            })
            //- mod_background: "background-two"
            +clients__item({
                img: "./assets/imgs/microsoft.png",
                title: "Microsoft",
                mod_col: "col-three"   
            })
            //- mod_background: "background-three"
            +clients__item({
                img: "./assets/imgs/zeplin.png",
                title: "Zeplin",
                mod_col: "col-four"
            })
            //- mod_background: "background-four"
            +clients__item({
                img: "./assets/imgs/shopify.png",
                title: "Shopify",
                mod_col: "col-five"
            })
            //- mod_background: "background-five"