section.contactme
    .container
        .contactme-content
            .contactme-header
                .contactme-title
                    h3.title-name Contact me
                    h2.title-text.contact-text Let me know if you want to talk about a potential collaboration. I'm available for freelance work.
                .contactme-email
                    a(href="mailto:infoname@mail.com").contactme-email__link infoname@mail.com
            form.contactme-form(action="#")
                input(type="text" name="form-text_1" placeholder="What's your name?")
                input(type="email" name="form-email" placeholder="Your email")
                input(type="text" name="form-text_3" placeholder="Tell me about your project")
                .button-file
                    button.form-btn Get a Quote
                    label.files
                        input(type="file" name="form-file").files__field
                        .form-imgs
                            img(src="./assets/imgs/clip.png" alt="").clip   
                            img(src="./assets/imgs/clip_arrow.png" alt="")

