.contactme
    .container
        .contactme-background
        .contactme-content
            .title.contactme-header
                .contactme-title
                    h3.title__name Contact me
                    span.title__line
                    h2.title__text.contact-text Let me know if you want to talk about a potential collaboration.I'm available for freelance work.
                .contactme-email
                    a(href="https://it-shatle.by/").contactme-email__link
                        span.contactme-email__text infoname@mail.com

            form(action="#")

