footer.footer
    h2.footer-text Let’s be Friends
    .footer-imgs
        img(src="./assets/imgs/footer_site.png", alt="" href="https://it-shatle.by/")
        img(src="./assets/imgs/footer_inst.png", alt="" href="https://www.instagram.com/?hl=ru")
        img(src="./assets/imgs/footer_linked.png", alt="https://ru.linkedin.com/")