footer.footer
    h2.footer-text Let’s be Friends
    .footer-imgs
        a(href="https://vk.com/polontsevichp" target="blank")
            img(src="./assets/imgs/footer_site.png" alt="" href="https://it-shatle.by/")
        a(href="https://www.instagram.com/?hl=ru" target="blank")    
            img(src="./assets/imgs/footer_inst.png" alt="" href="https://www.instagram.com/?hl=ru")
        a(href="https://by.linkedin.com/in/%D0%BF%D0%B0%D0%B2%D0%B5%D0%BB-%D0%BF%D0%BE%D0%BB%D0%BE%D0%BD%D1%86%D0%B5%D0%B2%D0%B8%D1%87-865037151" target="blank")   
            img(src="./assets/imgs/footer_linked.png" alt="https://ru.linkedin.com/")