header.header
    .container
        .header-row
            a.logo(href="#")
                img(src="./assets/imgs/logo.png")
            nav.nav
                ul.nav_list
                    li.list_item
                        a(href="#") About
                    li.list_item
                        a(href="#") Services
                    li.list_item
                        a(href="#") Works
                    li.list_item
                        a(href="#") Blog        
            .burger
                span.burger__line.line-one
                span.burger__line.line-two
                span.burger__line.line-three
