header.header
    .container
        .header-row
            a.logo(href="#")
                img(src="./assets/imgs/logo.png")
            nav.nav
                ul.nav_list
                    li
                        a(href="#") About
                    li
                        a(href="#") Services
                    li
                        a(href="#") Works
                    li
                        a(href="#") Blog        
            .burger
                span.burger_item
