section.main
    .container.main-container
        .main__content
            .main__text
                h2.main__hello Hello,
                h1.main__title Adam Zakob
                p.main__title-text a freelance UX Designer
                button.btn-main Let's Talk
            .main__imgs
                img.main__imgs-bgr(src="./assets/imgs/Background_Adam.png", alt="Background")
                img.main__imgs-adam(src="./assets/imgs/Photo_Adam.png", alt="Adam Zakob")
            img.main__img-sqr(src="./assets/imgs/dotted_square.svg", alt="Dotted square")