.main
    .container.main-container
        .main-content
            .main-text
                h2 Hello,
                h1 Adam Zakob
                p a freelance UX Designer
                button Let's Talk
            .main-imgs
                img.main-img-bgr(src="./assets/imgs/Background_Adam.png", alt="Background")
                img.main-img(src="./assets/imgs/Photo_Adam.png", alt="Adam Zakob")
            img.img-sqr(src="./assets/imgs/dotted_square.svg", alt="Dotted square")