section.portfolio
    .container
        //- .portfolio-background
        .portfolio-content
            .portfolio-header
                .portfolio-header-text
                    h3.title-name Portfolio
                    h2.title-text All Creative Projects
                a(href="https://it-shatle.by/").portfolio-nav
                    span.portfolio-nav-text Explore More
                    img.arrow(src="./assets/imgs/arrow.svg", alt="Arrow")
            .portfolio-imgs
                img(src="./assets/imgs/portfolio-one.png", alt="Portfolio-one")
                img(src="./assets/imgs/portfolio-two.png", alt="Portfolio-two")