section.services
    .container
        h3.title-name Services
        h2.title-text What  actually I love to do
        .services__row
            +services__item({
                img: "./assets/imgs/research.png",
                title: "UX Research",
                descr:"New demos are continually added and buying a single license for Mak gives you access to all of what's shown below, plus everything that will be added in the future."
                })
            +services__item({
                img: "./assets/imgs/design.png",
                title: "Brand Design",
                descr: "New demos are continually added and buying a single license for Mak gives you access to all of what's shown below, plus everything that will be added in the future."
                })
            +services__item({
                img: "./assets/imgs/development.png",
                title: "Web Development",
                descr: "New demos are continually added and buying a single license for Mak gives you access to all of what's shown below, plus everything that will be added in the future."
                })