.testimonials
    .container
        .testimonials-background
        .testimonials-content
            .testimonials-header
                .title
                    h3.title__name Testimonials
                    span.title__line
                    h2.title__text What People Says
            .testimonials-main
                img(src="./assets/imgs/66.svg", alt="").bb
                p.testimonials-text Quote testimonials demonstrate support for your product or feature from a user who has experience with it. This can be significantly more effective than traditional advertising methods as most consumers will trust.
                img(src="./assets/imgs/people_one.png", alt="").people_one
                img(src="./assets/imgs/people_two.png", alt="").people_two
                img(src="./assets/imgs/people_three.png", alt="").people_three
                img(src="./assets/imgs/people_four.png", alt="").people_four
                img(src="./assets/imgs/people_five.png", alt="").people_five