mixin clients__item(args={})
    .clients__col
        //- .clients__item-background
        //- (class=args.mod_background)
        .clients__item(class=args.mod_col)
            img(src=args.img, alt="clients-row-img").clients-row-item__img
            .clients-row-item__title=args.title