mixin services__item(args={})
    .services__col
        .services__item
            img(src=args.img, alt="logo").services__item-img
            .services__item-title=args.title
            .services__item-description=args.descr