mixin services-row-item(args={})
    .services-row-col
        .services-row-item
            img(src=args.img, alt="logo").services-row-item__img
            .services-row-item__title=args.title
            .services-row-item__description=args.descr